html,body,h1,h2,p,span,a{padding: 0;margin: 0;}
html{
	font-size: 62.5%;
	background-color: #EBEFF9;
	font-family: "微软雅黑"
}
body{
	/*font-size: 1.4rem;*/
	line-height: 2.5rem;
	margin: 2rem 25rem;
	padding: 1rem;
}
h1{
	font-size: 1.8rem;
	text-align: center;
	background-color: #FFF;
	height: 5rem;
	margin-bottom: 4rem;
	line-height: 5rem;
	border-radius: 0.4rem;
	-webkit-border-radius: 0.4rem;
	-ms-border-radius: 0.4rem;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.content{
		background-color: #fff;
		padding: 3rem;
		border-radius: 0.4rem;
		-webkit-border-radius: 0.4rem;
		-ms-border-radius: 0.4rem;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		-ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
h2{
	margin-bottom: 1rem;
	font-size: 1.4px;
}
p{
	margin-bottom: 1rem;
	text-align: justify;
}
span{
	margin-right:2rem;
}
span a{
	text-decoration:none;
}
.version{
	float:left;
}

